# Dependencies
node_modules/

# Build output
dist/
src-tauri/target/

# Test output
test/output/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Tauri generated
src-tauri/gen/

# Logs
*.log
.reasonix
test
*.iml
.fastRequest
.trae
.pnpm-store
